.loader{
    width: 200px;
    height: 20px;
    background: blue;
}

.content{
    height: 20px;
    width: 0;
    background: red;
    animation: loading 5s forwards;
}

@keyframes loading {
    from{
        width: 0;
    }
    to{
        width: 200px;
    }
}
