#hello{
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;
    animation: anim 1s ease-in forwards;
}

#back{
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.5;
}

@keyframes anim {
    from {
        bottom: 0;
    }
    to{
        bottom: 50%;
    }
}
