#container{
    width: 400px;
    height: 300px;
    overflow: hidden;
}
.phtot{
    width: 1200px;

}

.a,.b,.c{
    float: left;
    width: 400px;
    height: 300px;
}
.a{
    background: red;
}

.b{
    background: dodgerblue;
}

.c{
    background: yellow;
}
